--- 
import { SEO } from "astro-seo";


interface Props {
	lang: string;
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/pedal.jpg",
  Astro.site
).toString();

const { title, lang, description } = Astro.props;

const makeTitle = title
  ? "I am Pedal"+ " | " + title  
  : "I am Pedal | Web";



---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />


		<SEO
		title={makeTitle}
		description={description}
		canonical={canonicalURL}
		twitter={{
		  creator: "@asdata",
		  site: "@asdata.es",
		  card: "summary_large_image",
		}}
		openGraph={{
		  basic: {
			url: canonicalURL,
			type: "website",
			title: `I am Pedal - Web`,
			image: resolvedImageWithDomain,
		  },
		  image: {
			alt: "Pedal Homepage Screenshot",
		  },
		}}
	  />
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}
.astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
}
.title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

</style>
